{% extends 'console/console_base.html' %}
{% load static %}


{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Social Networking</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Running IP</th>
                        <th>Running Port</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in sninstance.all %}
                    {% if instance.user == user %}
                    <tr>
                        <th><a href="{{ instance.id }}">{{ instance.title }}</a></th>
                        <th>{{ instance.status }}</th>
                        <th>{{ instance.running_ip }}</th>
                        <th>{{ instance.running_port }}</th>
                        <th><button type="button" class="btn btn-light"><a
                                    href="{% url 'sninstance-update' instance.id %}">Update</a></button></th>
                        <th><button type="button" class="btn btn-light"><a
                                    href="{% url 'sninstance-delete' instance.id %}">Delete</a></button></th>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}