{% extends 'console/console_base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="container">
        <div class="card-body">
            <p>Use the Message button at the bottom Right of the website and Console to contact <b>Admin</b> for
                assistance.</p>
            <p><b>Admins</b> will contact you shortly. Please show patience. Leave your Email or Contact information for
                the <b>Admins</b> to contact you.</p>
            <img class="card-img-top" src="{% static 'img/doc/8.png' %}">
            <br />
        </div>
    </div>
</div>
{% endblock %}