{% extends '_base.html' %}
{% block title %}Profile{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<div class="card-body pb-0">
    <div class="card">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle" height="200" width="200" alt="profile-pic"
                    src="{{ user.profile.image.url }}">
                <div class="media-body pb-0">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">Email : {{ user.email }}</p>
                    <p class="text-secondary">Last Login : {{ user.last_login }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <a class="btn btn-primary" href="{% url 'createpost' %}" role="button"> Create Post </a>
    <a class="btn btn-primary" href="{% url 'simplewebservice' %}" role="button"> Create Service </a>
</center>
<br />
<div class="card-body pb-0">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Services</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}


{% endblock content %}