{% extends 'console/console_base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <center>

        <h4><b>Step : 1</b> Click on Create button</h4>
        <img class="card-img-top" src="{% static 'img/doc/1.png' %}">
        <br />
        <h4><b>Step : 2</b> Click on the Service you want</h4>
        <img class="card-img-top" src="{% static 'img/doc/2.png' %}">
        <br />
        <h4><b>Step : 3</b> Fill the details for the Service you want</h4>
        <img class="card-img-top" src="{% static 'img/doc/3.png' %}">
        <br />
        <h4><b>Step : 4</b> Click on the Save button</h4>
        <img class="card-img-top" src="{% static 'img/doc/4.png' %}">
        <br />
        <h4><b>Step : 5</b> View your Service from VM Instance</h4>
        <img class="card-img-top" src="{% static 'img/doc/5.png' %}">
        <br />
        <h4><b>Step : 6</b> Your Instances are Distributed in Type of Service form.</h4>
        <img class="card-img-top" src="{% static 'img/doc/6.png' %}">
        <br />
        <h4><b>Step : 7</b> You can Update or Delete the created Service.</h4>
        <img class="card-img-top" src="{% static 'img/doc/7.png' %}">

    </center>
</div>
{% endblock %}